#header-airport {
    margin-right: 0.5em;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    font-size: 1.2em;
}

th, td {
    text-align: center;
}

#names td {
    font-weight: bold;
}

.ipcs input {
    all: unset;
    width: 2em;
}

.ipcs input:focus {
    background-color: #f9f9f9;
}

table div {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    background-color: #f6f6f6;
}

table button {
    width: 100%;
}

#controls {
    margin-top: 2em;
}

#controls button {
    padding: 2px 10px;
    border-radius: 3px;
}

button {
    all: unset;
    height: 40px;
    cursor: pointer;
    user-select: none;
    background-color: #f6f6f6;
    border: 1px solid #f6f6f6;
}

button:disabled {
    background-color: #fcfcfc !important;
    border: 1px solid #fcfcfc !important;
    cursor: unset !important;
}

button:hover {
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
}

button:active {
    background-color: #e0e0e0;
    border: 1px solid #e0e0e0;
}

button:focus {
    background-color: #f0f0f0;
    border: 1px dotted #e0e0e0;
}

button:focus:active {
    background-color: #e0e0e0;
}